img {
  width: 300px;
  height: 300px;
}

.menu {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}
.headings {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}
.description {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.commodity {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}
